@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@900&family=Lemon&family=Poppins:wght@600&display=swap');

// Variables
$background-color: #020202;
$orange: #C84B31;
$blue: #2D5492;
$cream: #ECDBBA;


body{
    background-color: $background-color;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    font-family: 'Poppins' sans-serif;
}



.menu{
    position: fixed;
    float:  right;
    right: 0;
    margin-right: 3em;
    top: 2em;
    cursor: pointer;
}

nav {
    position: fixed;
    height: 100vh;
    width: 50%;
    right: 0; 
    top: 0;
    z-index: 2;
    background-color: #393E45;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    ul{
        list-style-type: none;
        margin-top: 5em;
        padding-left: 1.5em;
        a{
            text-decoration: none;
            color: $cream;
            font-family: sans-serif;
            font-weight: normal;
            font-size: 1rem;
            line-height: 2.5em;
            &:hover{
                color: $orange;
            }
        }
    }
    .close{
        float: right;
        right: 0;
        width: 1.5em;
        height: 1.5em;
        margin-top: 1.5em;
        margin-right: 3em;
    }
}

.photo{
    position: absolute;
    width: 300px;
    height: 483.33px;
    top: 1em;
    z-index:-1;
}



.name{
    position: absolute;
    top: 6em;
    
    color: $orange;
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    line-height: 1em;
    text-align: left;
    
    span{
        padding-left: 5rem; 
    }
}

.open-nav{
    transform: translateX(0%);
}

.sub-heading{
    color: $blue;
    font-family: 'Cookie';
    font-style: normal;
    font-size: 5rem;
    position: absolute;
    top: 0em;
    left: .5em;

}
p{
    width: auto;
    height: auto;
    color: $cream;
    font-family: "Poppins";
    font-weight: normal;
    font-size: .9rem;
    position: absolute;
    top: 10em;
    padding-left: 2em;
    padding-right: 1em;

}

@media only screen and (min-width: 680px){
    body{
        background-color: $background-color;
        margin: 1.5em, 0em;
        display: flex;
        justify-content: center;
        font-family: 'Poppins' sans-serif;
    }
}


@media only screen and (min-width: 1000px){
    body{
        display: flex;
        justify-content: right;
        padding-right: 1.5em;
        padding-left: 1.5em;
    }
    .menu{
        display: none;
    }
    .photo{
        position: absolute;
        transform: translateY(-10%);
        left: 7em;
        width: 350px;
        height: 563px;

    }
    p{
        color: $cream;
        font-family: "Poppins";
        font-weight: normal;
        font-size: 1rem;
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 4em;
    
    }
    nav{
        transform: translateX(0%);
        position: absolute;
        margin-right: 5em;
        margin-top: 3em;
        display: block;
        width: auto;
        height: auto;
        background: none;
        
    
        .close{
            display: none;
        }
        ul{
            display: flex;
            margin-top: 0;

            
            a{
               padding-left: 2em;
               margin-left: 0em;
               font-size: 1.1rem;
            }
        }
    }
    .name{
        font-size: 10rem;
        top: .3em; 
        right: 1em;       
    }
}

.transition-fade{
    opacity: 1;
    transition: .4s;
    transform: translateX(0);
    transform-origin: left;
    
}

html.is-animating.transition-fade{
    opacity: 0;
    transform: translateX(100%);
}

html.is-leaving.transition-fade{
    opacity: 0;
    transform: translateX(0);
}
